<a href="https://colab.research.google.com/github/NataliaKhabibulina/Vacantions_planning/blob/main/%D0%9F%D0%BB%D0%B0%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5_%D0%BE%D1%82%D0%BF%D1%83%D1%81%D0%BA%D0%BE%D0%B2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db

In [ ]:
import pandas as pd

In [ ]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.6/dist-packages (2.8.6)

In [ ]:
df_city = pd.read_sql(
"""
SELECT 
  *
FROM
  city;
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)

In [ ]:
df_city.head()

   id            name country_code       district  population
0   1           Kabul          AFG          Kabol     1780000
1   2        Qandahar          AFG       Qandahar      237500
2   3           Herat          AFG          Herat      186800
3   4  Mazar-e-Sharif          AFG          Balkh      127800
4   5       Amsterdam          NLD  Noord-Holland      731200

In [ ]:
df_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4079 entries, 0 to 4078
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4079 non-null   int64
 1   name          4079 non-null   object
 2   country_code  4079 non-null   object
 3   district      4079 non-null   object
 4   population    4079 non-null   int64
dtypes: int64(2), object(3)
memory usage: 159.5+ KB

In [ ]:
df = pd.read_sql(
"""
SELECT 
  *
FROM
  city
WHERE
  name IN ('Berlin', 'Praha', 'Oslo', 'Novisad', 'Stambul', 'Kopenhagen', 'Kaliningrad', 'Shanhai', 'New-York', 'Florence', 'Irkutsk', 'Lissabon', 'Rotterdam', 'Tallinn', 'Milan', 'Dusseldorf')
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)
df.head()

     id       name country_code            district  population
0     6  Rotterdam          NLD        Zuid-Holland      593321
1  2807       Oslo          NOR                Oslo      508726
2  3068     Berlin          DEU            Berliini     3386667
3  3339      Praha          CZE  Hlavní mesto Praha     1181126
4  3603    Irkutsk          RUS             Irkutsk      593700

In [ ]:
# здесь включаем фантазию и выискиваем переводы городов, не нашедшихся в тупом поисковом запросе выше. Ищем по совпадению части слов и/или по кодам стран
df = pd.read_sql(
"""
SELECT 
  *
FROM
  city
WHERE
  name 
LIKE 'Firen%'  
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)
df.head(10)

     id     name country_code district  population
0  1471  Firenze          ITA  Toscana      376662

In [ ]:
df_vacations = pd.read_csv('Vacations_plan.csv', sep=',')
df_vacations.head()

       Отметка времени  ... Стоимость одного дня, руб.
0  22.02.2021 11:21:54  ...                8571,428571
1  22.02.2021 11:22:41  ...                6090,909091
2  22.02.2021 11:23:20  ...                15833,33333
3  22.02.2021 11:23:53  ...                5571,428571
4  22.02.2021 11:24:20  ...                4666,666667

[5 rows x 15 columns]

In [ ]:
df_merged = df_city.merge(df_vacations, left_on='name', right_on='Город (англ)', how='inner')

In [ ]:
df_merged.head(15)

      id         name  ... Модуль отклонения Стоимость одного дня, руб.
0      6    Rotterdam  ...              5000                       7000
1   1465       Milano  ...              1000                       6800
2   1471      Firenze  ...              5000                9285,714286
3   1793     Novi Sad  ...              1000                5571,428571
4   1890     Shanghai  ...                 0                5714,285714
5   2807         Oslo  ...             25000                15833,33333
6   2914       Lisboa  ...              3000                      11000
7   3068       Berlin  ...                 0                8571,428571
8   3076   Düsseldorf  ...              8000                       7600
9   3315    København  ...              6000                      12000
10  3339        Praha  ...              3000                6090,909091
11  3357     Istanbul  ...              3000                4666,666667
12  3603      Irkutsk  ...             10000                5333,333333
13  3623  Kaliningrad  ...              1000                3166,666667
14  3791      Tallinn  ...              6000                       6000

[15 rows x 20 columns]

In [ ]:
df_city_population = df_merged[['population', 'Какой город?']]
df_city_population

    population Какой город?
0       593321    Роттердам
1      1300977        Милан
2       376662    Флоренция
3       179626      Новисад
4      9696300       Шанхай
5       508726         Осло
6       563210     Лиссабон
7      3386667       Берлин
8       568855  Дюссельдорф
9       495699   Копенгаген
10     1181126        Прага
11     8787958      Стамбул
12      593700      Иркутск
13      424400  Калининград
14      403981       Таллин
15     8008278     Нью-Йорк

In [ ]:
# средняя численность населения во всех городах вообще
df_merged['population'].mean()

2316842.875

In [ ]:
# средняя численность в городах пребывания по каждой стране
df_merged.groupby('country_code').mean('population')

                  id  population  ...  Факт/план  Модуль отклонения
country_code                      ...
CHN           1890.0   9696300.0  ...        0.0                0.0
CZE           3339.0   1181126.0  ...    -3000.0             3000.0
DEU           3072.0   1977761.0  ...     4000.0             4000.0
DNK           3315.0    495699.0  ...     6000.0             6000.0
EST           3791.0    403981.0  ...     6000.0             6000.0
ITA           1468.0    838819.5  ...    -3000.0             3000.0
NLD              6.0    593321.0  ...     5000.0             5000.0
NOR           2807.0    508726.0  ...    25000.0            25000.0
PRT           2914.0    563210.0  ...     3000.0             3000.0
RUS           3613.0    509050.0  ...    -5500.0             5500.0
TUR           3357.0   8787958.0  ...     3000.0             3000.0
USA           3793.0   8008278.0  ...    10000.0            10000.0
YUG           1793.0    179626.0  ...    -1000.0             1000.0

[13 rows x 10 columns]